.sendArea {
    border-radius: 0 0 8px 8px;
    background: var(--block);
    padding: 10px 30px;
    display: flex;
    align-items: flex-end;
}

.txtarea {
    width: 100%;
    resize: none;
    background-color: white;
    border: 1px solid #d7d7d7;
    border-radius: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
    font-size: 20px;
    color: #6e6e6e;
    padding: 7px 50px 7px 10px;
    box-sizing: border-box;
    margin-right: 15px;
}

.btn {
    width: 40px;
    height: 40px;
    background: url(./send.png) no-repeat center center / contain;
    cursor: pointer;
}

@media (max-width: 1240px) {
    .sendArea {
        border-radius: 0;
        background: var(--main-color);
    }
}