.sideBar {
    max-width: 400px;
    flex-grow: 1;
    border-radius: 8px;
    box-sizing: border-box;
    height: 100%;
    background: var(--block);
    border-right: 3px solid var(--bg-color);
    border-left: 3px solid var(--bg-color);
    padding: 15px 0;
    overflow: auto;
}

.sideBar::-webkit-scrollbar {
    width: 5px;
}

.sideBar::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 2px;
}

@media (max-width: 1240px) {
    .sideBar {
        border-radius: 0;
        border-right: 0;
        border-left: 0;
    }
}

@media (max-width: 900px) {
    .sideBar {
        max-width: initial;
        width: 100%;
        border-right: none;
    }
}